.menu-list {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 2.933333rem;
    display: flex;
    overflow: hidden;
}
.menu-list .left-container {
    width: 2.266667rem;
    background: #efefef;
    overflow: auto;
    height: 100%;
}
.left-container .left-category {
    padding-bottom: 2.266667rem;

}
.left-category .category-item {
    height: 1.6rem;
    font-size: 0.373333rem;
    color: #656565;
    /* text-align: center; */
    border-bottom: 0.026667rem solid #bfbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-category .category-item.active {
    background: #fff;

}
.left-category .category-item-name {
    line-height: 0.533333rem;
    /* text-align: center; */
    /* align-self: center; */
}
.category-item .item-pic {
    width: 0.533333rem;
    height: 0.533333rem;
    margin-right: 0.16rem;
    vertical-align: -0.106667rem;   
}